*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5)transparent;
}
*::-webkit-scrollbar{width: 4px;}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(149, 149, 160,0.5) transparent;
    border-radius: 20px;
    border: 2px;
}



.rgba {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 1s ease;
    cursor: pointer;
}
.library.active {
transform: translateX(-100%);
opacity: 0;

}
.library {
    position: fixed;
    
    top: 0;
    left: 0;
    width: 30rem;
    height: 100%;
    background-color: rgb(204, 211, 211);
    box-shadow: 2px 2px 50px rgb(65, 63, 63);
    overflow: scroll;
    opacity: 1;
    transition: all 0.8s ease;
    cursor: pointer;
    @media screen and (max-width:768px) {

        width: 20rem;
        h2 {
            padding: 1rem;
            font-size: 11px;
          
        }
    }
   
}
.LibrarySong.selected{background: rgb(81, 133, 177);}
.LibrarySong {
  
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    font-size: 6px;
    padding:1rem;
   
    &:hover {
        background-color: rgb(86, 86, 88);
    }
    h1,p {
        font-size: 1rem;
        @media screen and(max-width:768px) {
            font-size: 0.9rem;
        }
    }
    img { 
        width: 15%;
    }
}