
  .player {
   min-height: 20vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }

  .time_control {
    width: 50%;
   
    display: flex;
    input {
      width: 100%;
      padding: 1rem 0rem;
    }
    p {
      padding: 1rem;
    }
  }

  .play_control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;
      .play {
        color:black;
        transition: 0.5s;
      }
    .play.active {
      color: rgb(94, 51, 51);
      transition: 0.4s;
    }

    svg {
      cursor: pointer;
      font-size: 53px;
    }
  }