@import 'player';
@import 'song';
@import 'Library';

body {
    margin: 0;
    font-family: "lato",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

  h1,h2,h3 {
    color: rgb(44, 44, 44);
    font-weight: 400;
    color:rgb(100, 100, 100) ;
  }
